NET "MCLK"  LOC = "P40";     
NET "rps<0>"  LOC = "P15";    
NET "rps<1>"  LOC = "P12";    
NET "rps<2>"  LOC = "P5";
NET "resetButton"  LOC = "P34";
NET "button"  LOC = "P35";
NET "led<0>" LOC = "P16" ;
NET "led<1>" LOC = "P13" ;
NET "led<2>" LOC = "P6" ;        
NET "Anodes<0>" LOC = "P50" ;
NET "Anodes<1>" LOC = "P49" ;
NET "Anodes<2>" LOC = "P52" ;
NET "Anodes<3>" LOC = "P56" ;
NET "Anodes<4>" LOC = "P59" ;
NET "Anodes<5>" LOC = "P57" ;
NET "Anodes<6>" LOC = "P60" ;
NET "Anodes<7>" LOC = "P61" ;
NET "SevenSegment<0>" LOC = "P64" ;
NET "SevenSegment<1>" LOC = "P98" ;
NET "SevenSegment<2>" LOC = "P73" ;
NET "SevenSegment<3>" LOC = "P72" ;
NET "SevenSegment<4>" LOC = "P65" ;
NET "SevenSegment<5>" LOC = "P62" ;
NET "SevenSegment<6>" LOC = "P71" ;